
<!DOCTYPE html>
<html>
<head>
    <title>Configuration Page</title>
</head>
<body>
    <h1>Configuration Buttons</h1>
    <button onclick="location.href='{{ url_for('button_pressed') }}'">Bandwidth Setting</button><br><br>
    <button onclick="location.href='{{ url_for('date_range') }}'">Reports</button><br><br>
    <button onclick="location.href='{{ url_for('signal_strength') }}'">Signal Strength Setting</button><br><br>
    <button onclick="location.href='{{ url_for('targetRouter') }}'">Target Router Config</button><br><br>
    <button onclick="location.href='{{ url_for('user_Account') }}'">User Account</button><br>
</body>
</html>


