<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Signal Strength Setting in dbm</title>
</head>
<body>
<form>
    <h2> Signal Strength Severity Level Value Setting </h2> <br>

    <label for="level0a">Severity Level 0 (Emergency):&emsp;&ensp;</label>
    <input type="number" id="level0a" name="level0a">
    <label for="level0b"></label>
    <input type="number" id="level0b" name="level0b"><br><br>

    <label for="level1a">Severity Level 1 (Alert) :&emsp;&emsp;&emsp;&ensp;</label>
    <input type="number" id="level1a" name="level1a">
    <label for="level1b"></label>
    <input type="number" id="level1b" name="level1b"><br><br>

    <label for="level2a">Severity Level 2 (Critical Error):&ensp;</label>
    <input type="number" id="level2a" name="level2a">
    <label for="level2b"></label>
    <input type="number" id="level2b" name="level2b"><br><br>

    <label for="level3a">Severity Level 3 (Error):&emsp;&emsp;&emsp;&ensp;</label>
    <input type="number" id="level3a" name="level3a">
    <label for="level3b"></label>
    <input type="number" id="level3b" name="level3b"><br><br>

    <label for="level4a">Severity Level 4 (Warning):&emsp;&emsp;&ensp;</label>
    <input type="number" id="level4a" name="level4a">
    <label for="level1b"></label>
    <input type="number" id="level4b" name="level4b"><br><br>

    <input type="submit" value="Submit"><br><br>



</form>
</body>
</html>